footer {
    
    text-align: center;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 20px 40px;
    margin: 20px 40x;

}
h2 {
    background-color: black;
    color: white;
    padding: 30px;
    
}

h4 {
    padding: 0px 70px;
}